<div class="p-4 mt-4" style="background-image: linear-gradient(45deg, purple, pink); position: relative;">
    <div class="text-center">
        <div>
            <h2 class="text-light">@Copy Right VinalaGROUP</h2>
        </div>
        <div>
            <i class="fa-brands fa-google p-2" style="color: yellow;"></i>
            <i class="fa-brands fa-facebook-f p-2" style="color: blue;"></i>
            <i class="fab fa-instagram p-2" style="color: purple;"></i>
            <i class='fab fa-pinterest p-2' style="color: red;"></i>
            <i class="fa-brands fa-twitter p-2" style="color: rgb(0, 162, 255);"></i>
        </div>
    </div>
</div>
